<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>771716291278-4fg7rjd8qab5vv93k0bnpf7r7o1ks7tm.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.771716291278-4fg7rjd8qab5vv93k0bnpf7r7o1ks7tm</string>
    <key>API_KEY</key>
    <string>AIzaSyDxatGkdKza6K1_B5sHiA1QQt211iKUvZM</string>
    <key>GCM_SENDER_ID</key>
    <string>771716291278</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.example.perffers</string>
    <key>PROJECT_ID</key>
    <string>tech-pair</string>
    <key>STORAGE_BUCKET</key>
    <string>tech-pair.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:771716291278:ios:e25136f1b2e688eb</string>
    <key>DATABASE_URL</key>
    <string>https://tech-pair.firebaseio.com</string>
</dict>
</plist>